.landingContainer{
  height: 90%;
  width: 600px;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../images/wr_background-01.webp');
  z-index: 1;
  border-radius: 25% 25% 0 0;
  top: 50;
}

.landingImageGrid {
  background-color: rgba(255, 255, 255, 1);
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: 66% auto;
  grid-template-rows: 1fr 1fr;
  row-gap: 8px;
  column-gap: 16px;
  padding: 16px;
  margin-top: 200px;
}

.landingImageLg {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.landingImagesm01 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.landingImagesm02 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}