.modalOverlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2000;
}

.modalContainer {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: fixed;
  top: 60px;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, 0);
  margin-right: -50%;
  max-height: 95vh;
  /* width: 70%; */
  padding: 30px;
  width: 400px;
  min-width: 300px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.modalTitle {
  font-size: 30px;
  font-weight: 300;
  align-self: flex-start;
  padding-bottom: 10px;
}

.promptHidden {
  visibility: hidden;
}

.promptShown {
  font-size: 12px;
  color:rgb(253, 46, 46);
  visibility: visible;
  grid-column: 2 / 3;
  margin: 0;
  align-self: flex-end;
}

.modalForm {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  
}

.modalFormLabel {
  text-align: left;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr;
  grid-template-rows: 20px auto;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; */
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
  width: 100%;
  margin-bottom: 20px;
}

.modalFormInput {
  width: 100%;
  padding: 6px 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  grid-column: 1 / 5;
}

.modalTextArea {
  height: 160px;
  resize: none;
  width: 100%;
  margin: 10px 0;
}

.modalFormInput:focus, 
.modalGuestInput:focus{
  outline: none !important;
  border-color: var(--light-green);
  box-shadow: 0 0 10px var(--light-green);
}

.attendingGuestsContainer {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  width: 100%;
}

/* .modalAttendingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.modalAttendingLabel {
  text-align: left;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
  width: 100%;
}

.modalRadioContainer {
  display: flex;
  justify-content: space-between;
  width: 81px;
  margin-top: 10px;
	/* overflow: hidden; */
}

/* .modalRadioContainer label {
  background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 10px 12px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
} */

.radioYes {
  background-color: rgb(190, 190, 190);
	color: rgba(0,61,37, 0.7);
	font-size: 14px;
	text-align: center;
	padding: 6px 0;
  width: 40px;
  height: 36px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
  border-radius: 36% 0 0 36%;
}

.radioYesChecked {
  background-color: #a5dc86;
	color: rgba(0, 0, 0, 0.9);
	font-size: 14px;
	text-align: center;
	padding: 6px 0;
  width: 40px;
  height: 36px;
	margin-right: -1px;
  border: 1px solid rgba(121, 121, 121, 0.8);
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
  border-radius: 36% 0 0 36%;
}

.radioNo {
  background-color: rgb(190, 190, 190);
	color: rgba(0,61,37, 0.7);
	font-size: 14px;
	text-align: center;
  padding: 6px 0;
  width: 40px;
  height: 36px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
  border-radius: 0 36% 36% 0;
}

.radioNoChecked {
  background-color: #dc8686;
	box-shadow: none;
  color: rgba(0, 0, 0, 0.9);
	font-size: 14px;
	text-align: center;
	padding: 6px 0;
  width: 40px;
  height: 36px;
	margin-right: -1px;
	border: 1px solid rgba(121, 121, 121, 0.8);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
  border-radius: 0 36% 36% 0;
}

.modalRadioBtn {
  position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
}

.modalGuestLabel {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
  word-wrap: none;
}

.modalGuestInput {
  padding: 6px 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 140px;
}
/* .modalRadioBtn:checked + .modalRadioLabel {
	background-color: #a5dc86;
	box-shadow: none;
} */

.modalSpecialLabel {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
  width: 100%;
  margin: 18px 0;
  text-align: left;
}

.closeModal {
  color: rgb(0,61,37);
  /* background-color: #e4e4e4; */
  background-color: rgba(255, 255, 255, 1);
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border: 0px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 25px;
  font-weight: 500;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  /* box-shadow: 0px 1px 3px 0px rgba(78, 78, 78, 0.3); */
}

.closeModal:hover {
  background-color: #e4e4e4;
  color: var(--light-green);
}

@media only screen and (max-width: 600px) {

  .modalContainer {
    top: 2%;
    width: 95%;
    height: 100vh;
    padding: 25px;
  }

  .closeModal:hover {
    color: rgb(0,61,37);
    background-color: rgba(255, 255, 255, 1);
  }

}