.modalOverlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2000;
}

.modalContainer {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: fixed;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  /* height: 70%;
  width: 70%; */
  padding: 35px;
  max-width: 500px;
  min-width: 300px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalTitle {
  font-size: 30px;
  font-weight: 300;
  align-self: flex-start;
  padding-bottom: 10px;
}

.modalForm {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  
}

.modalFormLabel {
  text-align: left;
  display: block;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
}


.modalFormInput {
  width: 100%;
  padding: 6px 10px;
  margin: 6px 0 12px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.modalTextArea {
  height: 180px;
  resize: none
}

.modalFormInput:focus {
  outline: none !important;
  border-color: var(--light-green);
  box-shadow: 0 0 10px var(--light-green);
}

.modalAttendingContainer {
  display: flex;
  justify-content: flex-start;
}

.modalAttendingLabel {
  text-align: left;
  /* display: block; */
  font-size: var(--font-m);
  line-height: 1.5em;
  font-weight: 400;
  padding-right: 20px;
  padding-bottom: 10px;
}

.modalRadioBtn {
  margin-left: 2px;
}

@media only screen and (max-width: 600px) {

  .modalContainer {
    top: 50%;
    width: 95%;
    height: 95%;
    padding: 20px;
  }

}