.modalOverlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2000;
}

.modalContainer {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: fixed;
  top: 40%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  /* height: 70%;
  width: 70%; */
  padding: 30px;
  width: 400px;
  min-width: 300px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalTitle {
  font-size: 30px;
  font-weight: 300;
  align-self: flex-start;
  padding-bottom: 10px;
}

.modalForm {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  
}

.modalFormLabel {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
  margin-right: 8px;
  width: 100%;
}

.modalFormInput {
  width: 85%;
  padding: 6px 10px;
  margin: 18px 0px 18px 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.modalTextArea {
  height: 180px;
  resize: none;
  width: 100%;
  margin: 10px 0;
}

.modalFormInput:focus, 
.modalGuestInput:focus{
  outline: none !important;
  border-color: var(--light-green);
  box-shadow: 0 0 10px var(--light-green);
}

.attendingGuestsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.modalAttendingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .modalAttendingLabel {
  text-align: left;
  font-size: var(--font-m);
  line-height: 1.5em;
  font-weight: 400;
  padding-right: 20px;
  padding-bottom: 10px;
} */

.modalRadioContainer {
  display: flex;
  justify-content: space-between;
  width: 81px;
	/* overflow: hidden; */
}

/* .modalRadioContainer label {
  background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 10px 12px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
} */

.radioYes {
  background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 10px 0;
  width: 40px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
  border-radius: 40% 0 0 40%;
}

.radioYesChecked {
  background-color: #a5dc86;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 10px 0;
  width: 40px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
  border-radius: 40% 0 0 40%;
}

.radioNo {
  background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 10px 0;
  width: 40px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
  border-radius: 0 40% 40% 0;
}

.radioNoChecked {
  background-color: #dc8686;
	box-shadow: none;
  color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 10px 0;
  width: 40px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
  border-radius: 0 40% 40% 0;
}

.modalRadioBtn {
  position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
}

.modalGuestLabel {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
  word-wrap: none;
  margin-top: 20px;
}

.modalGuestInput {
  padding: 6px 10px;
  margin: 0 0 0 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 60px;
}
/* .modalRadioBtn:checked + .modalRadioLabel {
	background-color: #a5dc86;
	box-shadow: none;
} */

.modalSpecialLabel {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 600;
  width: 100%;
  margin-top: 18px;
  text-align: left;
}

@media only screen and (max-width: 600px) {

  .modalContainer {
    top: 50%;
    width: 95%;
    height: 95%;
    padding: 25px;
  }

}