
.navContainer {
  height: 52px;
  width: 95%;
  position: fixed;
  display: flex; 
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgb(1,51,31);
  padding: 0 25px;
  z-index: 100;
}

.navItems {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navText {
  font-size: 14px;
  font-weight: 400;
}